body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c3cacb;
}

header {
    background-color: #c868e8;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    border-left: 1px solid #ccc;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    margin-top: 0;
    font-size: 24px;
}

.cart-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}


